! /etc/keepalived/keepalived.conf
! Configuration File for keepalived
global_defs {
    router_id LVS_DEVEL
}
vrrp_script check_apiserver {
  script "/etc/keepalived/check_apiserver.sh"
  interval 3
  weight -2
  fall 10
  rise 2
}

vrrp_instance VI_1 {
    interface eth0 #variabiliser
    virtual_router_id 151
    {% if node_name == "cp01" %}
state MASTER 
    priority 255
    {% endif %}
    {% if node_name == "cp02" %}
state SLAVE
    priority 254
    {% endif %}
    {% if node_name == "cp03" %}
state SLAVE
    priority 253
    {% endif %}
    authentication {
        auth_type PASS
        auth_pass Gec-Inf0rmAt1QUE@2016-Z
    }
    virtual_ipaddress {
        {{ vip_address }}/24 # variabiliser
    }
    track_script {
        check_apiserver
    }
}
